@use "abstracts/variables" as *;

.overlay {
  display: none;
}

@media (max-width: $tablet) {
  .overlay {
    display: block;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
  }

  .navbar:has(#menu-toggle:checked) .overlay {
    opacity: 1;
    visibility: visible;
  }
}