<app-section
  [title]="sectionData.title"
  [description]="sectionData.description"
>
  <div class="faq-list">
    @for(item of faqList; track $index){
    <div
      class="faq-item"
      [class.active]="activeIndex === $index"
      (click)="toggleFAQ($index)"
      (keydown.enter)="toggleFAQ($index)"
      tabindex="0"
    >
      <div class="faq-question">
        {{ item.question }}
        <span class="arrow" [class.rotate]="activeIndex === $index">⌄</span>
      </div>
      @if(activeIndex === $index){
      <div class="faq-answer">
        {{ item.answer }}
      </div>
      }
    </div>
    }
  </div>
</app-section>
