<app-section [title]="projectSection.title" [description]="projectSection.description">
  <app-carousel [items]="projectSection.items" [itemTemplate]="projectTemplate">
    <ng-template #projectTemplate let-project>
      <div class="card">
        <div class="preview-image">
          <img [src]="path + project.image" alt="Preview" />
        </div>
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <button>Go started</button>
      </div>
    </ng-template>
  </app-carousel>
</app-section>
