@use "abstracts/variables" as *;

@media (max-width: $tablet) {
  .intro {
    padding: 3rem 1.5rem;

    .content {
      h1 {
        font-size: 3.5rem;
      }

      p,
      .description {
        font-size: 1.6rem;
      }

      h2 {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: $mobile) {
  .intro {
    .content {
      max-width: 100%;
      text-align: center;

      h1 {
        font-size: 2.5rem;
      }

      p,
      .description {
        font-size: 1.4rem;
      }

      h2 {
        font-size: 1.8rem;
      }

      .btn {
        font-size: 1.2rem;
      }
    }
  }
}
