<section class="intro">
  <div class="wrapper">
    <div class="content">
      <h1 appGlow class="glowing-text">Vladyslav Hamza</h1>
      <p class="role">I am Front end Angular developer & Node Developer</p>
      <h2>About Me</h2>
      <p class="description">
        I specialize in building dynamic and high-performance web applications
        with Angular and Node.js. Passionate about clean code, scalability, and
        the latest web technologies.
      </p>
      <div class="wrapper-btn">
        <a href="#" class="btn">Projects</a>
      </div>
    </div>
  </div>
</section>
