<app-section
  title="Code Examples"
  description="This section shows real code I’ve written — following best practices, performance thinking, and modern design patterns."
>
  <div class="glow-wrapper">
    <div class="code-frame">
      <div class="window-bar">
        <span class="dot red"></span>
        <span class="dot yellow"></span>
        <span class="dot green"></span>
        <span class="filename">withSideEffect.ts</span>
      </div>

      <div class="code-grid">
        <img class="code" [src]="codePath" alt="Code example" />
        <img
          class="statusbar"
          src="/assets/images/code-examples/statusbar.png"
          alt="Status bar"
        />
      </div>

      <div class="code-actions">
        <a class="code-button" href="#all-code-examples">
          View All Code Examples
        </a>
      </div>
    </div>
  </div>
</app-section>
