@use "variables" as *;

@mixin flex-center($justify: space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin transition($property: all, $time: $transition-time) {
  transition: $property $time ease;
}

@mixin button-reset {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
  color: inherit;
}

@mixin respond-max($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin respond-min($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin corner-glow-only-bottom(
  $color: rgba(71, 40, 107, 0.6),
  $size: 50rem,
  $spread: 60%
) {
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: $size;
    height: $size;
    background: radial-gradient(
      circle at bottom left,
      $color,
      transparent $spread
    );
    z-index: 1;
    pointer-events: none;
  }
}
