*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
html {
  font-size: 62.5%; /* 1rem = 10px (при 16px базовом шрифте) */
}

html,
body {
  margin: 0;
  padding: 0;
}

@media (max-width: 360px) {
  html {
    font-size: 35%; /* 1rem = 5.6px (относительно стандартных 16px) */
  }
}

@media (min-width: 360px) and (max-width: 480px) {
  html {
    font-size: 45%; /* 1rem = 7.2px */
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 50%; /* 1rem = 8px */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 55%; /* 1rem = 8.8px */
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  html {
    font-size: 60%; /* 1rem = 9.6px */
  }
}

@media (min-width: 1440px) and (max-width: 1920px) {
  html {
    font-size: 65%; /* 1rem = 10.4px */
  }
}
@media (min-width: 1921px) and (max-width: 2560px) {
  html {
    font-size: 70%; /* 1rem = 10.4px */
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 75%; /* 1rem = 16px (стандартное значение) */
  }
}
